.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .example-card {
    max-width: 200px;
  }
  
  
  img{
      height: 250px;
      width: 200px;
      margin-bottom: 10px;
  }
  .example-container {
    width: 500px;
    height: 300px;
    
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  h1{
    margin-bottom:0px;
    justify-content: center;
    align-items: center;
  }
  
  .example-sidenav {
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .example-sidenav h1{
    left: 100px;
  }