
  <mat-grid-list cols="3" rowHeight="450px"   >


    <mat-grid-tile *ngFor="let prod of produits ;let i = index">
      
        <mat-drawer-container class="example-container" autosize >
          <h1>{{prod.nom}}</h1>
            <mat-drawer #drawer class="example-sidenav" mode="side">
              <p>{{prod.nom}}</p>
              <p *ngIf="prod.showFiller">{{prod.description}}</p>
              <button type="button "id="txt"  (click)="prod.showFiller = !prod.showFiller" mat-raised-button >
                Description
              </button>
            </mat-drawer>
            
            <div class="example-sidenav-content" >
              
              <img src="{{prod.image}}" (click)=" drawer.toggle() ">
            </div>
          
          </mat-drawer-container>
          
    </mat-grid-tile>
    
  </mat-grid-list>