<div class="formContainer">

  <form class="example-form" [formGroup]="myForm" (ngSubmit)="createRecord()" >
      <h2>Ajout d'un nouveau Produit</h2>
    <mat-form-field class="example-full-width" hideRequiredMarker>
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Ex. Pizza" formControlName="nom"  required>
    </mat-form-field>

    <mat-form-field class="example-full-width" hideRequiredMarker>
      <mat-label>Prix</mat-label>
      <input matInput  type="number" placeholder="Ex. 15 "  formControlName="prix" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" hideRequiredMarker>
      <mat-label>categorie</mat-label>
      <input matInput  type="text" placeholder="Ex. 15 "  formControlName="cat" required>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Description </mat-label>
      <textarea matInput placeholder="Ex. this product is ..." formControlName="desc"></textarea>
    </mat-form-field>
      
    <div class="example-full-widt">
         
      <img [src]="url" height="20%" width="100%" *ngIf="imgExist"><br>
      <input  type="file"  id="file" (change)="onSelectFile($event)" formControlName="img" >
      <p>Entrez l'image de votre produit : </p>
      <label class="inputImg" for="file">Appuez ici!</label>
         
    </div>
    <button mat-raised-button color="primary" type="submit"  [disabled]='!myForm.value.nom ||!myForm.value.prix ||!myForm.value.desc ||!myForm.value.img' >  Ajouter  </button>
       <button mat-raised-button (click)="reset()" >Anuler </button>
  </form>
    
      

</div>
<router-outlet></router-outlet>
 