.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    border-color:gray;
    
    
  }
  
  
  .example-full-width {
    width: 100%;
  }
  .formContainer{
      margin-left: 30%;
      margin-right: 30%;
      border-style:inherit;
      padding-top: 20px;
      padding-bottom: 30px;
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      border-radius: 4%;
      background-color:whitesmoke ;
  }
  input[type="file"]{
    display: none;
  }
  .inputImg{
    color: grey;
    font-size: medium;
    font-weight: 400;
    text-align: center;
    width: 200px;
  }
  .inputImg:hover{
    color:dimgrey;
    font-weight: 500;

    

  }
  .inputImg:active{
    font-size: large;
    
  }
  p{
    color:RebeccaPurple;
    font-size: 500;
    font-weight: 500;
    margin-bottom: 0px;
    margin-bottom: 0px;
  }
  h2{
    color: RebeccaPurple;
    
   
    text-align: center;

  }
button{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  display: flex;
}
